* {
    font-family: 'Raleway', 'Raleway Dots', sans-serif;
}

.navbar {
    padding: 1.5rem 2rem;
}

.links > li > a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.links > li > a:hover {
    color: green;
    border-bottom: 2px solid green;
}
