* {
    font-family: 'Raleway', 'Raleway Dots', sans-serif;
}

.navbar {
    /* background-color: #21222A; */
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    background-color: #eaeaea;
    transition: top 500ms ease-in-out;
}

.links > a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    padding: 0 20px;
}

.links > a :hover {
    border-bottom: 2px solid green !important;
}